$main-color: #333;
$main-font: Helvetica,
sans-serif;
html {
    height: 100%;
    margin: 0 auto;
    color: $main-color;
    font-family: $main-font;
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#root {
    height: 96%;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 95%;
}

.markdownsection,
.preview {
    margin: 20px auto;
    width: 43%;
}

.markdownsection {
    h2 {
        margin: 5px auto;
    }
    textarea {
        width: 97%;
        max-width: 97%;
        height: 90%;
        max-height: 90%;
        padding: 10px;
        font-size: 18px;
    }
}

.preview {
    h2 {
        margin: 5px auto;
    }
    .previewarea {
        width: 97%;
        max-width: 97%;
        height: 94%;
        max-height: 94%;
        word-wrap: break-word;
        overflow-y: scroll;
    }
}

footer {
    text-align: center;
    color: red;
    a {
        text-decoration: none;
        color: $main-color;
        font-size: 13px;
    }
}